# Organize and Preprocess Data

In [1]:
import pandas as pd

# By the minute

### Training Data

In [2]:
df_2017min = pd.read_csv('BTC-2017min.csv')
df_2018min = pd.read_csv('BTC-2018min.csv')
df_2019min = pd.read_csv('BTC-2019min.csv')

In [3]:
df_train_min = pd.concat([df_2017min, df_2018min, df_2019min], axis=0, ignore_index=True)

In [4]:
df_train_min.shape

(1576797, 9)

In [5]:
df_train_min.describe()

,unix,open,high,low,close,Volume BTC,Volume USD
count,1.576797e+06,1.576797e+06,1.576797e+06,1.576797e+06,1.576797e+06,1.576797e+06,1.576797e+06
mean,1.530533e+09,6.275219e+03,6.279739e+03,6.270242e+03,6.275095e+03,7.369205e+00,4.797548e+04
std,2.731098e+07,3.485094e+03,3.489047e+03,3.480548e+03,3.484974e+03,1.826041e+01,1.312172e+05
min,1.483229e+09,7.520000e+02,7.528100e+02,7.513400e+02,7.520400e+02,0.000000e+00,0.000000e+00
25%,1.506881e+09,3.630070e+03,3.631660e+03,3.628540e+03,3.630120e+03,2.925311e-01,1.405761e+03
50%,1.530533e+09,6.419660e+03,6.421190e+03,6.417780e+03,6.419730e+03,1.908046e+00,9.927425e+03
75%,1.554185e+09,8.388420e+03,8.395850e+03,8.380120e+03,8.388000e+03,7.048195e+00,4.006312e+04
max,1.577837e+09,1.966576e+04,1.966600e+04,1.964996e+04,1.966575e+04,1.616060e+03,7.719620e+06

In [6]:
df_train_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1576797 entries, 0 to 1576796
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   unix        1576797 non-null  int64
 1   date        1576797 non-null  object
 2   symbol      1576797 non-null  object
 3   open        1576797 non-null  float64
 4   high        1576797 non-null  float64
 5   low         1576797 non-null  float64
 6   close       1576797 non-null  float64
 7   Volume BTC  1576797 non-null  float64
 8   Volume USD  1576797 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 108.3+ MB

In [7]:
df_train_min.isnull().sum()

unix          0
date          0
symbol        0
open          0
high          0
low           0
close         0
Volume BTC    0
Volume USD    0
dtype: int64

In [8]:
df_train_min[df_train_min['Volume BTC'] == 0]

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
8924,1514229300,2017-12-25 19:15:00,BTC/USD,14030.01,14030.01,14030.01,14030.01,0.0,0.0
9869,1514172600,2017-12-25 03:30:00,BTC/USD,13739.64,13739.64,13739.64,13739.64,0.0,0.0
9952,1514167620,2017-12-25 02:07:00,BTC/USD,13918.72,13918.72,13918.72,13918.72,0.0,0.0
13076,1513980180,2017-12-22 22:03:00,BTC/USD,14199.00,14199.00,14199.00,14199.00,0.0,0.0
13077,1513980120,2017-12-22 22:02:00,BTC/USD,14199.00,14199.00,14199.00,14199.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1576780,1546301820,2019-01-01 00:17:00,BTC/USD,3687.96,3687.96,3687.96,3687.96,0.0,0.0
1576783,1546301640,2019-01-01 00:14:00,BTC/USD,3694.96,3694.96,3694.96,3694.96,0.0,0.0
1576784,1546301580,2019-01-01 00:13:00,BTC/USD,3694.96,3694.96,3694.96,3694.96,0.0,0.0
1576785,1546301520,2019-01-01 00:12:00,BTC/USD,3694.96,3694.96,3694.96,3694.96,0.0,0.0
1576786,1546301460,2019-01-01 00:11:00,BTC/USD,3694.96,3694.96,3694.96,3694.96,0.0,0.0

In [9]:
df_train_min['date'] = pd.to_datetime(df_train_min['date'])
print("Max date:", df_train_min['date'].max())
print("Min date:", df_train_min['date'].min())

Max date: 2019-12-31 23:59:00
Min date: 2017-01-01 00:01:00

In [10]:
df_train_minSorted= df_train_min.sort_values(by='date', ascending=True)

In [11]:
df_train_minSorted.to_csv('trainingMin.csv', index=False)

### Testing Data

In [12]:
df_2020min = pd.read_csv('BTC-2020min.csv')
df_2021min = pd.read_csv('BTC-2021min.csv')

In [13]:
df_test_min = pd.concat([df_2020min, df_2021min], axis=0, ignore_index=True)

In [14]:
df_test_min.shape

(1098504, 9)

In [15]:
df_test_min.describe()

,unix,open,high,low,close,Volume BTC,Volume USD
count,1.098504e+06,1.098504e+06,1.098504e+06,1.098504e+06,1.098504e+06,1.098504e+06,1.098504e+06
mean,1.612140e+09,3.047026e+04,3.048801e+04,3.045227e+04,3.047050e+04,4.352495e+00,1.035479e+05
std,2.003641e+07,1.941054e+04,1.942106e+04,1.939958e+04,1.941066e+04,1.274825e+01,2.717730e+05
min,1.577837e+09,3.858270e+03,3.927050e+03,3.850000e+03,3.865000e+03,0.000000e+00,0.000000e+00
25%,1.594314e+09,9.771917e+03,9.777650e+03,9.767910e+03,9.772730e+03,2.116602e-01,4.807510e+03
50%,1.613151e+09,3.401113e+04,3.404150e+04,3.398523e+04,3.401205e+04,1.088620e+00,2.586908e+04
75%,1.629629e+09,4.759272e+04,4.761668e+04,4.756643e+04,4.759274e+04,3.779959e+00,9.328378e+04
max,1.646106e+09,6.900000e+04,6.900000e+04,6.879999e+04,6.900000e+04,1.098349e+03,1.396792e+07

In [16]:
df_test_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098504 entries, 0 to 1098503
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   unix        1098504 non-null  int64
 1   date        1098504 non-null  object
 2   symbol      1098504 non-null  object
 3   open        1098504 non-null  float64
 4   high        1098504 non-null  float64
 5   low         1098504 non-null  float64
 6   close       1098504 non-null  float64
 7   Volume BTC  1098504 non-null  float64
 8   Volume USD  1098504 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 75.4+ MB

In [17]:
df_test_min.isnull().sum()

unix          0
date          0
symbol        0
open          0
high          0
low           0
close         0
Volume BTC    0
Volume USD    0
dtype: int64

In [18]:
df_test_minSorted= df_test_min.sort_values(by='date', ascending=True)
df_test_minSorted.to_csv('testMin.csv', index=False)

# Hourly

In [19]:
df_hour = pd.read_csv('BTC-Hourly.csv')

In [20]:
df_hour.shape

(33259, 9)

In [21]:
df_hour.describe()

,unix,open,high,low,close,Volume BTC,Volume USD
count,3.325900e+04,33259.000000,33259.000000,33259.000000,33259.000000,3.325900e+04,3.325900e+04
mean,1.586228e+09,20119.546772,20232.957473,19997.069777,20120.684800,1.612380e+06,2.965701e+06
std,3.456429e+07,18537.219607,18646.950933,18418.320297,18537.695044,3.102328e+06,7.329787e+06
min,1.526364e+09,3139.760000,3158.340000,3122.280000,3139.760000,0.000000e+00,0.000000e+00
25%,1.556296e+09,7022.865000,7055.835000,6970.570000,7022.865000,1.903241e+02,1.682800e+02
50%,1.586228e+09,9700.040000,9740.270000,9657.000000,9700.320000,6.093271e+05,5.248300e+02
75%,1.616161e+09,36415.305000,36735.380000,36104.235000,36423.040000,1.929240e+06,3.120014e+06
max,1.646093e+09,68635.050000,69000.000000,68447.000000,68627.010000,6.857061e+07,2.582324e+08

In [22]:
df_hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33259 entries, 0 to 33258
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unix        33259 non-null  int64
 1   date        33259 non-null  object
 2   symbol      33259 non-null  object
 3   open        33259 non-null  float64
 4   high        33259 non-null  float64
 5   low         33259 non-null  float64
 6   close       33259 non-null  float64
 7   Volume BTC  33259 non-null  float64
 8   Volume USD  33259 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.3+ MB

In [23]:
df_hour.isnull().sum()

unix          0
date          0
symbol        0
open          0
high          0
low           0
close         0
Volume BTC    0
Volume USD    0
dtype: int64

In [24]:
df_train_hour = df_hour[df_hour['date'] <= '2019-12-31 23:59:00']
df_test_hour = df_hour[df_hour['date'] > '2019-12-31 23:59:00']

In [25]:
df_train_hourSorted= df_train_hour.sort_values(by='date', ascending=True)
df_train_hourSorted.to_csv('trainingHourly.csv', index=False)

In [26]:
df_test_hourSorted= df_test_hour.sort_values(by='date', ascending=True)
df_test_hourSorted.to_csv('testHourly.csv', index=False)

# Daily

In [27]:
df_daily = pd.read_csv('BTC-Daily.csv')

In [28]:
df_daily.shape

(2651, 9)

In [29]:
df_daily.describe()

,unix,open,high,low,close,Volume BTC,Volume USD
count,2.651000e+03,2651.000000,2651.000000,2651.000000,2651.000000,2.651000e+03,2.651000e+03
mean,1.531613e+09,11693.189332,12038.562912,11296.539461,11709.326213,1.330041e+07,6.099369e+07
std,6.613247e+07,16272.554746,16739.237000,15718.297511,16282.908704,4.715366e+07,1.072838e+08
min,1.417133e+09,162.000000,212.840000,152.400000,162.000000,0.000000e+00,0.000000e+00
25%,1.474373e+09,654.680000,664.460000,640.050000,654.370000,5.357883e+03,9.516170e+03
50%,1.531613e+09,6408.950000,6540.000000,6312.000000,6407.770000,1.503310e+04,2.288982e+07
75%,1.588853e+09,10708.620000,10956.240000,10303.755000,10726.425000,3.435336e+06,8.018383e+07
max,1.646093e+09,67547.490000,69000.000000,66250.000000,67559.000000,7.723295e+08,1.446125e+09

In [30]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2651 entries, 0 to 2650
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unix        2651 non-null   int64
 1   date        2651 non-null   object
 2   symbol      2651 non-null   object
 3   open        2651 non-null   float64
 4   high        2651 non-null   float64
 5   low         2651 non-null   float64
 6   close       2651 non-null   float64
 7   Volume BTC  2651 non-null   float64
 8   Volume USD  2651 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 186.5+ KB

In [31]:
df_daily.isnull().sum()

unix          0
date          0
symbol        0
open          0
high          0
low           0
close         0
Volume BTC    0
Volume USD    0
dtype: int64

In [32]:
df_train_day = df_daily[df_daily['date'] <= '2019-12-31 23:59:00']
df_test_day = df_daily[df_daily['date'] > '2019-12-31 23:59:00']

In [33]:
df_train_daySorted= df_train_day.sort_values(by='date', ascending=True)
df_train_daySorted.to_csv('trainingDaily.csv', index=False)

In [34]:
df_test_daySorted= df_test_day.sort_values(by='date', ascending=True)
df_test_daySorted.to_csv('testDaily.csv', index=False)